.app-header {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-bottom: 30px;
}

.btn-publish {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

.logo-click-home {
    margin-right: 30px;
    cursor: pointer;
}