.app-header {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-bottom: 30px;
}

.btn-publish {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

.logo-click-home {
    margin-right: 30px;
    cursor: pointer;
}

.search-bar {
    width: 600px;
    visibility: visible;
}

.search-bar.invisible {
    width: 600px;
    visibility: hidden;
}

.header-btn-div {
    display: flex;
    visibility: visible;
}

.header-btn-div.invisible {
    display: flex;
    visibility: hidden;
}