.loadable-div {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadable-refresh-btn {
    margin-top: 20px;
}