.form-warning-message {
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
}

.form-warning-message.invisible {
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
    display: none;
}