.profile-sold-item-div {
    position: relative;
    width: 150px;
    height: 170px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.item-image {

}

.profile-sold-item-text {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-sold-item-overlay {
    position: absolute;
    top: -2px;
    left: -1px;
}